/* Main body style */
body {
  background-color: #d3d3d3;
  margin-bottom: 2em;
}

div.text-white h5 {
  color: white;
}

div.text-white a {
  color: white;
}

div#navbarSupportedContent.dark a{
  color:white !important;
}

div.dropdown-menu.dark {
  background-color: #343A40;
}

div.dropdown-menu.dark a:hover {
  background-color: #4e5760;
}

input.light {
  background-color: #343A40;
  border-color: #F8F9FA;
  color: white;
}

input.dark {
  border-color: #343A40;
}

.search-box {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
}
.search-select {
  margin-right: 0px;
}
.search {
  width: 30em;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2em;
  padding-bottom: 1.5em;
  min-height: 25em;
}
.row {
  width:90%;
  margin-left: auto;
  margin-right: auto;
}
.random-sample /* (Hold the one you need) */{
  max-width: 100%;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.radar {
  width: 100%;
  height: 90%;
  border-style: none;
}

.table {
  max-width: 100%;
}

.weather-alert-container {
  margin-bottom: -.75em;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.weather-alert {
  margin-top: 1em;
  margin-bottom: 0rem;
  max-width: 100%;
}

.news-card {
  height:30rem;
}

.events-card {
  height:20rem;
}

.top-row-card {
  height:25rem;
}

.middle-row-card {
  height:30rem;
}

.news-container {
  display:block;
  overflow-y: scroll;
  max-height: 90%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cal-container {
  display:block;
  overflow-y: scroll;
  max-height: 90%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.news-container::-webkit-scrollbar {
  display: none;
}

.weather-card {
  height:30rem;
}

.weather-container {
  display:block;
  overflow-y: scroll;
  max-height: 90%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.weather-container::-webkit-scrollbar {
  display: none;
}

.alerts-card {
  height:92%;
}

.dropdown-menu {
  min-width: 200px;
}
.dropdown-menu.columns-2 {
  min-width: 400px;
}
.dropdown-menu.columns-3 {
  min-width: 600px;
}
.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}
.multi-column-dropdown {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal;
}
.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #f8f9fa;;
}



@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}

.main-container {
  max-width:1450px;
}

#appendedInputButton {
  width:20em;
}

.card-title {
  display: inline-block;
  color: black;
}

/*
*   Auto Complete
*/

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.view-more {
  float: right;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

/*
*   Installer Classes
*/

/* Main Installer Container */
.installer-card {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

/* Installer Header */
.installer-header {
  text-align: center;
  margin-top: 1em;
}

/*
*   Dark Mode Multi Column
*/


/* Multi Column List Item Text */
ul.multi-column.dark a {
  color: white;
}

/* Multi Column List Background Hover */
ul.multi-column.dark a:hover {
  background-color: #4e5760;
}

/* Multi Column List Background */
ul.multi-column.dark {
  background-color: #343A40;
}

/*
*   Other darkmode
*/

body.dark {
  background-color: #121212;
}

/*
*   Dark Mode for autocomplete classes are in darkmode_style.css
*/



.icon-row{
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.icon {
  max-width: 3.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-card {
  width:7em;
  height:7em;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding-top:10px;
  margin-left:1em;
  margin-right:1em;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: .5em;
  margin-bottom: .5em;
  border: 1px solid rgba(0,0,0,.125);
  position: relative;
}

.icon-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height:2.6em;
}

.icon-card:hover {
  opacity: .8;
}

.icon-text {
  padding-top: 8px;
  vertical-align: bottom;
}

.image {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}


image-container {
  max-width: 100%;
  max-height: 90%;
}